<footer>
    <div class="footer"> 
        <div class="footer-items">contact</div> 
        <div class="footer-items">Copyright 2022</div> 
        <div class="footer-items">support</div> 
    </div>
</footer>

</body>
</html>