<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
      <img src="/burger.png" alt="">
    </div>
    <div class="headings">
      <h2>Delightful Burgers</h2>
      <h3>For all pallets</h3>
      <a href="/burgers" class="btn">View Menu</a>
    </div>
  </header>
  
  
  <%- include('partials/footer'); -%>